# LND/Bitcoin Core
export LND_DIR=docker/.alice

export BITCOIN_NETWORK=regtest

export ZMQPUBRAWBLOCK_PORT=24123
export ZMQPUBRAWTX_PORT=24124

export RPCUSER=kek
export RPCPASS=kek

# Docker
export uid=1000 # This should be your user ID: `id -u`
export gid=1000 # This should be your group ID: `id -g`

# Other
export GO111MODULE=on
